@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
#utama {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#header {
	height: 5em;
	background-image: url(bg.jpg);
	padding: 30px;
	color: #FFF;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}
#menu_kiri {
	padding: 5px;
	float: left;
	height: 419px;
	width: 20%;
	background-color:#999;
}
#konten {
	padding: 5px;
	float: right;
	height: auto;
	width: 78.5%;
	background-color:#F36;
}
#footer {
	padding: 30px;
	clear: both;
	height: auto;
	width: auto;
	background-color:#000;
	color:#FFF;
}
.menu {
	margin: 5px;
}

a{
	text-decoration:none;
	font-size:24px;
	color:#0CF;
	}
a:hover {
	color:#000;
	text-decoration:underline;
	cursor:pointer;
	transition: 0.3s;
	}
